body {
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

#calendar {
    height: 300px;
    /* Ajuste la hauteur selon tes besoins */
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}